<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Diwali</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/styles.css'>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src='main.js'></script>
</head>
<body style="background-image:url(/images/img2.gif);">
    <p>May the diyas light lead you onto the road of growth and prosperity. Happy Diwali!</p>
    <div class="row mb-3">
        <div class="card-body">
            <h2 style="color:white;text-align: center;">Hi</h2>
            <h3 class="text-center" style="color:white;text-align: center;">Happy Diwali <%=uname%>
        </div>
        <a href="/user" type="button" style="width: auto;" id="bt3"
            class="btn btn-primary btn-lg mx-2">Send Mail</a>
    </div>
</body>
</html>