<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Diwali</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='css/styles.css'>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src='main.js'></script>
</head>
<body style="background-image:url(/images/img1.jpg);">
    <p>May the diyas light lead you onto the road of growth and prosperity. Happy Diwali!</p>
    <form method="POST">
    <div class="mb-3">
        <label for="inputName" id="from" class="col-sm-2 col-form-label">Enter your Name</label>
        <div class="col-sm-10">
          <input type="text" name="from" class="form-control" id="inputName" required></input>
        </div>
    </div>
    <div class="mb-3">
        <label for="inputName3" id="rname" class="form-label">Enter Friend's Name</label>
        <div class="col-sm-10">
            <input type="textarea" name="rname" class="form-control" id="inputMessage1" required>
        </div>
    </div>
    <div class="mb-3">
        <label for="inputEmail1" id="email" class="form-label">Enter friend's emailid</label>
        <div class="col-sm-10">
            <input type="text" name="email" class="form-control" id="inputEmail1" required>
        </div>
    </div>
    <br>
    <button type="submit" id="bt1" class="btn btn-primary">Send Email</button>
</form>
</body>
</html>